.row
  %h1.span8= @medical_aid.name
  .span4
    %h3 Address
    %p= @medical_aid.address
    %h4 City
    %p= @medical_aid.city
    %h4 Province
    %p= @medical_aid.province
    %h4 Country
    %p= @medical_aid.country
  .span4
    %h3 Contact Person
    %p= @medical_aid.address
    %h4 Email
    %p= @medical_aid.email
    %h4 Telephone
    %p= @medical_aid.tel
    %h4 Fax
    %p= @medical_aid.fax
  .span8.well
    %h2.span7 Medical Aid Plans
    - @medical_aid.medical_aid_plan.each do |p|
      %h4.span4=p.plan_name
  .clearfix
  =link_to "Edit", edit_medical_aid_path(@medical_aid), :class => "btn"
  =link_to "Delete", @medical_aid, confirm: 'Are you sure?', method: :delete , :class => "btn btn-important"
