<h1>Listing Person</h1>
<div class='span9'>
<table id="peopleData">
  <thead>
  <tr>
    <th>Title</th>
    <th>First name</th>
    <th>Surname</th>
    <th>Other name</th>
    <th>Sex</th>
    <th>Post address</th>
    <th>Tel home</th>
    <th>Tel mobile</th>
    <th>Pin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @people.each do |person| %>
  <tr>
    <td><%= person.title %></td>
    <td><%= person.first_name %></td>
    <td><%= person.surname %></td>
    <td><%= person.other_name %></td>
    <td><%= person.sex %></td>
    <td><%= person.post_address %></td>
    <td><%= person.tel_home %></td>
    <td><%= person.tel_mobile %></td>
    <td><%= person.pin %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Delete', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<br />

<%= link_to 'New Person', new_person_path %>
