<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @person.title %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Surname:</b>
  <%= @person.surname %>
</p>

<p>
  <b>Dob:</b>
  <%= @person.dob %>
</p>

<p>
  <b>Other name:</b>
  <%= @person.other_name %>
</p>

<p>
  <b>Sex:</b>
  <%= @person.sex %>
</p>

<p>
  <b>Post address:</b>
  <%= @person.post_address %>
</p>

<p>
  <b>Tel home:</b>
  <%= @person.tel_home %>
</p>

<p>
  <b>Tel office:</b>
  <%= @person.tel_office %>
</p>

<p>
  <b>Tel mobile:</b>
  <%= @person.tel_mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Home address:</b>
  <%= @person.home_address %>
</p>

<p>
  <b>City:</b>
  <%= @person.city %>
</p>

<p>
  <b>Township:</b>
  <%= @person.township %>
</p>

<p>
  <b>Province:</b>
  <%= @person.province %>
</p>

<p>
  <b>Post code:</b>
  <%= @person.post_code %>
</p>

<p>
  <b>Nationality:</b>
  <%= @person.nationality %>
</p>

<p>
  <b>Pin:</b>
  <%= @person.pin %>
</p>

<p>
  <b>Employer:</b>
  <%= @person.employer %>
</p>

<p>
  <b>Occupation:</b>
  <%= @person.occupation %>
</p>

<p>
  <b>User:</b>
  <%= @person.user %>
</p>

<p>
  <b>Image</b>
  <%= image_tag@person.pin_image.url %>

</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
