= link_to 'Edit', edit_person_path(@person), :class => 'btn btn-success pull-right'
= link_to 'Back', people_path, :class => 'btn btn-primary right pull-right'
.clearfix
%h3="#{@person}"
%hr.clearfix

.span4
  %h3 Personal Details
  %h4 Sex
  %p=@person.sex
  %h4 Date of Birth
  %p=@person.dob
  %h4 Other Name(s)
  %p=@person.other_name
  %h4 Nationality
  %p=@person.nationality
  %h4 Pin:
  %p=@person.pin
  %h4 Pin Image
  =image_tag @person.pin_image.url (:medium)
  %h4 Employer
  %p= @person.employer
  %h4 Occupation
  %p= @person.occupation
.span4.well
  %h3 Contact Details
  %h4 Postal Address
  %p=@person.post_address
  %h4 Home Address
  %p=@person.home_address
  %h4 City
  %p=@person.city
  %h4 Province
  %p=@person.province
  %h4 Tel home:
  %p=@person.tel_home
  %h4 Tel office
  %p=@person.tel_office
  %h4 Tel mobile:
  %p=@person.tel_mobile
  %h4 Email
  %p= @person.email
  %h4 Post code
  %p= @person.post_code

-unless @person.person_medical_aids.count < 2
  .span4.well
    = render 'person_medical_aid', f: @person.person_medical_aids

.notices.span4.well
  %h3 Notices
  -if @person.wait_lists.where(:attended=>false).exists?
    %h4 Checked-in
    -@person.wait_lists.where(:attended=>false).each do |w|
      ="#{w.datetime_in.strftime("at %I:%M%p on %a the %d ")} #{w.next_action} #{w.next_action_name} "
      %br
  -if @person.consultations.where('status !="Closed"').exists?
    %h4 In Consultation
    -@person.consultations.where('status != "Closed"').each do |consul|
      =link_to consul.status, consultation_path(consul), :class => "btn btn-primary"
      %hr

-if @person.dependents.any?
  =render 'dependents', f: @person

-if !@person.inverse_dependent.nil?
  =render 'providers', f: @person.inverse_dependent

.clearfix
%hr
=render 'waitlist', id: @person.id

= link_to 'Edit', edit_person_path(@person), :class => 'btn btn-success left'
= link_to 'Back', people_path, :class => 'btn btn-primary left'

-content_for :sidebar do
  =link_to "Add Dependant", new_person_path(person_id: @person.id) , :class=>"btn btn-large"
  =link_to "View Medical Profile", person_profile_path(@person.person_profile), :class=> "btn btn-large"