= form_for @invoice, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      /Invoice
    .control-group
      = f.label :consultation_id, :class => 'control-label'
      .controls
        = f.number_field :consultation_id, :class => 'number_field'
    .control-group
      = f.label :person_id, :class => 'control-label'
      .controls
        = f.number_field :person_id, :class => 'number_field'
    .control-group
      = f.label :invoice_date, :class => 'control-label'
      .controls
        = f.date_select :invoice_date, :class => 'date_select'
    .control-group
      = f.label :total, :class => 'control-label'
      .controls
        = f.number_field :total, :class => 'number_field'
    .control-group
      = f.label :discount, :class => 'control-label'
      .controls
        = f.text_field :discount, :class => 'text_field'
    .control-group
      = f.label :person_medical_aid_id, :class => 'control-label'
      .controls
        = f.number_field :person_medical_aid_id, :class => 'number_field'
    .control-group
      = f.label :payment_date, :class => 'control-label'
      .controls
        = f.date_select :payment_date, :class => 'date_select'
    .control-group
      = f.label :submitted_for_claim, :class => 'control-label'
      .controls
        = f.check_box :submitted_for_claim, :class => 'check_box'
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to "Cancel", invoices_path, :class => 'btn'
