= simple_form_for @invoice, :html => { :class => 'form-horizontal form-inline invoice-form' } do |f|
  =f.hidden_field :person_id
  =f.hidden_field :consultation_id
  =f.hidden_field :person_medical_aid_id
  %legend
    ="#{controller.action_name.capitalize} Invoice "
    /Invoice

  .control-group.pull-right
    .controls
      = f.input :invoice_date, as: :string, :input_html =>{ class: 'datepicker text-right'}
    .controls
      = f.input :discount, :label=> "Discount (%)", :input_html => {class: "text-right "}
    .controls
      = f.input :payment_date,  as: :string, :input_html =>{ class: 'datepicker text-right'}
    .controls
      = f.input :submitted_for_claim
      = f.hidden_field :person_medical_aid_id
  .control-group.pull-left.well
    %h3=@invoice.person
    %h5= @invoice.person.post_address
    %h5= @invoice.person.home_address
    %h5= @invoice.person.city
    %h5= @invoice.person.tel_mobile
    %h5= @invoice.person.email
  .clearfix
  %hr
  =link_to_add_fields "Add Line Item",f,:line_items, "add_invoice_fields pull-right"
  .clearfix
  %table#invoice-table.table.table-striped.table-bordered.table-condensed.span6.right
    %thead
      %tr
        %th
          Description
        %th
          Unit Cost
        %th
          Qty
        %th
          Tax
        %th
          Line Total
    %tbody
      =f.simple_fields_for :line_items do |line|
        =render 'line_item_fields', f: line

  .control-group.pull-right
    .controls
      = f.input :total,:readonly=>true
  .clearfix
  %hr
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", invoices_path, :class => 'btn'
