
=image_tag "logo.jpg" ,:class=>"pull-right"
.clinic_details
  %p
    %strong
      Plot 760 Trelawyn Park Inyatsi House,
      %br
      369 David Hynd Road,
      %br
      Manzini, M200

.clearfix

%hr
#invoice-details.pull-right.well
  %h5
    Invoice #:
    %span #{@invoice.id}
  %h5
    Date:
    %span #{@invoice.invoice_date}
  %h5
    Amount Due:
    %span #{number_to_currency(@invoice.total-@invoice.payments.sum(:amount), unit: "E ")}
  - if @invoice.total-@invoice.payments.sum(:amount) <=0
    %h5
      Payment Date:
      %span #{@invoice.payment_date}


.contact_details.well.span3
  %h3= link_to @invoice.person, @invoice.person
  %h5=@invoice.person.post_address
  %h5=@invoice.person.home_address
  %h5=@invoice.person.city
  %h5=@invoice.person.tel_mobile
  %h5=@invoice.person.email


.clearfix
%h2 Invoice Items
%table#invoice-table.table.table-striped.table-condensed
  %thead
    %tr
      %th.text-left
        Description
      %th
        Unit Cost
      %th
        Qty
      %th
        Tax
      %th
        Line Total
  %tbody
    -@invoice.line_items.each do |line|
      %tr
        %td
          =line.description
        %td.text-right
          =line.unit_cost
        %td.text-right
          =line.quantity
        %td.text-right
          =line.tax
        %td.text-right
          =line.total
  %tfoot
    %tr

      %td.blank-cell
      %td.blank-cell
      %td.blank-cell
      %td{colspan:"2"}
        %strong
          Total:
          %span.pull-right
            #{number_to_currency(@invoice.total, unit: "E ")}
    %tr
      %td.blank-cell
      %td.blank-cell
      %td.blank-cell
      %td{colspan:"2"}
        %strong
          Amount Paid:
          %span.pull-right
            #{number_to_currency(@invoice.payments.sum(:amount) , unit: "E ")}
    %tr
      %td.blank-cell
      %td.blank-cell
      %td.blank-cell
      %td{colspan:"2"}
        %strong
          Amount Remaining:
          %span.pull-right
            #{number_to_currency(@invoice.total-@invoice.payments.sum(:amount), unit: "E ")}

.clearfix

=render 'payments'
.form-actions
  = link_to "Back", invoices_path, :class => 'btn'
  = link_to "Edit", edit_invoice_path(@invoice), :class => 'btn'
  = link_to "Delete", invoice_path(@invoice), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger'
  =link_to "Print Invoice (PDF)", invoice_path(@invoice, format: :pdf), class: "btn btn-success"
  = link_to "Enter Payment", new_payment_path(invoice_id: @invoice.id), class: "btn btn-success"  unless   @invoice.total-@invoice.payments.sum(:amount) <=0



-content_for :title_bar do
  %h2 View Invoice