=render 'person_profile'

=render 'new_prescription'
=render 'new_lab_order'
#person_id.hidden{:data=>{:person_id=>@consultation.person_id, :medical_aid_plan_id => @consultation.medical_aid_plan_id}}}
%h2 Consultation for #{@consultation.person.first_name} #{@consultation.person.surname}
.span7.well
  %h3 Status: #{@consultation.status}
  
  
  .span3=image_tag @consultation.person.pin_image.url (:medium)
  .span3
    %h4 Patient Details
    %br
    %b Name: #{@consultation.person.first_name} #{@consultation.person.surname}
    %br
    %b Age: #{@consultation.person.age}
    %br
    %b Gender: #{@consultation.person.sex}
    %p
    %h4 Patient Profile
    %table.table.table-striped.table-bordered.table-condensed
      %tr
        %td
          %b Type
        %td
          %b Info
      %tr
        -@consultation.person.person_profile.profile_items.each do |x|
          %td #{x.profile_type.name}
          %td #{x.value}

.clearfix

%h3 SOAPS

-@consultation.soaps.each do |soap|
  =render 'soap', soap:soap


.clearfix

-content_for :sidebar do
  %br
  =link_to  edit_consultation_path(@consultation),:class=>"btn btn-large" do
    %i.icon-pencil
    &nbsp;Edit


