%h1 Orders
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.order.soaps_id", :default => t("activerecord.labels.soaps_id", :default => "Soaps_id"))
      %th Created at
      %th Actions
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.id
        %td= link_to order.soaps_id, order_path(order)
        %td= order.created_at
        %td
          = link_to "Show", order_path(order), :class => 'btn btn-mini'
          = link_to "Edit", edit_order_path(order), :class => 'btn btn-mini'
          = link_to "Destroy", order_path(order), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_order_path, :class => 'btn btn-primary'
