= simple_form_for @payment, :html => { :class => 'form-search' } do |f|
  %fieldset
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :invoice_id
    %legend
      = controller.action_name.capitalize
    .clearfix
    /Payment
    = f.input :amount, :wrapper_html=>{class: "pull-left span2"},input_html:{ :class => 'span2'}
    = f.input :payment_type_id, :collection=>["Cash","Debit","Cheque", "Bank Transfer"], :wrapper_html=>{class: "pull-left span1 "}  ,input_html:{ :class => 'span1'}, :label=> "Type"
    = f.input :payment_date, as: :string, :wrapper_html=>{class: "pull-left span2 "}, input_html:{ :class => 'span2 datepicker'}
    = f.input :eft_number, :wrapper_html=>{class: "pull-left span2"},input_html:{ :class => 'span2'}
    .clearfix
    =label "Pay in full","Pay in Full"
    =check_box_tag "pay_in_full",1,false,:id=>"pay_in_full"
    .clearfix
    = f.input :notes, input_html:{ :rows => "5", :class=>"span7"} , :wrapper_html=>{class: "span7 pull-left"}
    .clearfix
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to "Cancel", payments_path, :class => 'btn'
